body{
    margin: 0px;
    font-family: Noto Sans TC;
}

.shadow{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.25;
    z-index: 1000;
    display: none;
}

.login{
    position: fixed;
    width: 340px;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    z-index: 1001;
    display: none;
}

.login-div{
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #70bbce 100%);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.login-p{
    font-weight: bold;
    font-size: 24px;
    color: #666666;
    text-align: center;
    margin: 15px;
    position: relative;
}

.login-img{
    position: absolute;
    top: 2px;
    right: 2px;
}

.login-input{
    width: 310px;
    height: 47px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 15px 10px 15px;
    font-size: 16px;
}

.login-btn{
    width: 310px;
    height: 47px;
    background: #448899;
    border-radius: 5px;
    border: none;
    margin: 0 15px 10px 15px;
    font-size: 19px;
    color: #FFFFFF;
}

.error{
    text-align: center;
    color: rgb(164, 35, 35);
    margin-bottom: 10px;
}

#register-error{
    display: none;
}

#register-success{
    color: rgb(34, 193, 34);
    display: none;
}

.login-p2{
    margin: 0 15px 10px 15px;
    text-align: center;
    color: #666666;
}

.login-p2>span{
    cursor: default;
}

.register{
    position: fixed;
    width: 340px;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    z-index: 1001;
    display: none;
}

.nav-space{
    height: 54px;
}

.navbar{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 54px;
    line-height: 54px;
    background: white;
    z-index: 100;
}

.nav-text{
    width: 1200px;
    display: flex; 
    justify-content: space-between;
    margin: 0 auto;
}

.header{
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 30px;
    color: #448899;
    margin-left: 10px;
}

.desktop-menu{
    font-size: 16px;
    display: flex;
}

.desktop-menu>div{
    margin-right: 20px;
    cursor: pointer;
}

#login-ready{
    display: none;
}

#logout-ready{
    display: none;
}

.navbar+hr{
    margin: 0 0 40px 0;
}

.welcome{
    width: 100%;
    height: 320px;
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
}

.welcome>div{
    width: 1200px;
    margin: 0 auto;
  }

.welcome>div>div:nth-child(1){
    font-size: 28px;
    color: #F8F8F8;
    margin-left: 20px;
    padding-top: 85px;
    position: relative;
    z-index: 4;
}

.welcome>div>div:nth-child(2){
    font-size: 16px;
    color: #F8F8F8;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    position: relative;
    z-index: 3;
}

.wrap{
    font-size: 0;
}

.search-bar{
    width: 400px;
    height: 46px;
    margin-left: 20px;
    font-size: 16px;
    position: relative;
    z-index: 2;
    border: 0px;
    vertical-align:middle;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-btn{
    width: 60px;
    height: 46px;
    background: #448899;
    vertical-align:middle;
    border: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    z-index: 5;
}

.welcome>img{
    position: absolute;
    right: 200px;
    bottom: 0;
    z-index: 1;
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
}

main>.box{
    width: 270px;
    height: 242px;
    margin: 15px;
    background-color: white;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
}

main>.box>a>img{
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

main>.box>.title{
    height: 30px;
    padding: 7px 6px;
    color: #757575;
    font-weight: bold;
    font-size: 16px;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 0 6px;
    color: #757575;
    font-size: 16px;
}

.content>p{
    margin: 0;
}

.load{
    text-align: center;
}

.btn{
    width: 150px;
    height: 50px;
    margin: 40px;
}

.footer{
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 104px;
    line-height: 104px;
    background: #757575;
    text-align: center;
    color: white;
    margin-top: 40px;
}

@media(max-width:1200px){
    .nav-text{
        width: 100%;
    }
    .navbar+hr{
        width: 100%;
    }    
    main{
        width: 100%;
    }
    main>.box{
        width: 45%;
        height: 40vw;
    }
    .welcome>img{
        width: 500px;
        height: 300px;
        position: absolute;
        right: -64px;
    }   
    .welcome>div{
        width: 100%;
    }
}

@media(max-width:600px){
    .nav-text{
        width: 100%;
    }
    main>.box{
        width: 90%;
        height: 80vw;
    }
    main>.box>a>img{
        height: 75%;
    }
    .welcome>img{
        width: 350px;
        height: 200px;
    }
    .search-bar{
        width: 230px;
    }       
}