.refund-check{
    position: fixed;
    width: 340px;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    z-index: 1001;
    display: none;
}

.refund-check>div:nth-child(3){
    display: flex;
    justify-content: center;
}

.refund-check-btn{
    width: 90px;
    height: 40px;
    background: #448899;
    border-radius: 5px;
    border: none;
    margin: 10px 15px 20px 15px;
    font-size: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

main>div:first-child{
    width: 960px;
    margin: 0 auto;
    position: relative;
}

main>hr:nth-child(2){
    margin-top: 20px;
}

.heading-1{
    margin-bottom: 20px;
}

.number{
    font-weight: bold;
    margin-bottom: 15px;
}

.numberhref{
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
    text-decoration:none;
    color: #448899;
}

.schedule>img{
    width: 220px;
    height: 160px;
    padding: 0;
    margin-right: 22px;
    border-radius: 5px;
}

.history-img{
    width: 220px;
    height: 160px;
    padding: 0;
    margin-right: 22px;
    border-radius: 5px;
}

main>hr{
    margin-bottom: 20px;
}

.detail>p{
    margin-bottom: 10px;
}

.detail>div:first-child{
    font-weight: bold;
}

.detail>div{
    margin-bottom: 10px;
}

.refund{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.refund>span{
    font-size: 13px;
    color: rgb(164, 35, 35);
    position: absolute;
    top: 140px;
}

.refund-btn{
    width: 50px;
    height: 36px;
    background-color: #448899;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 100px;
    display: none;
}

.already-refund{
    width: 60px;
    height: 36px;
    background-color: #a9a9a9;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 100px;
    display: none;
}


@media(max-width:1200px){
    main>div:first-child{
        width: 90%;
    }
    .refund>span{
        top: 180px;
    }
    
    .refund-btn{
        top: 140px;
    }    
    .already-refund{
        top: 140px;
    }    
}

@media(max-width:600px){
    main>div:first-child{
        width: 95%;
    }
    .schedule>img{
        object-fit: cover;
        width: 100%;
        height: 300px;
        margin: 0;
    }
    .schedule>a{
        width: 100%;
    }
    .history-img{
        object-fit: cover;
        width: 100%;
        height: 300px;
        margin: 0;
    }    
    .refund>span{
        top: 460px;
    }
    .refund-btn{
        top: 420px;
    }    
    .already-refund{
        top: 420px;
    }    
}