<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>景點介紹</title>
    <link type="text/css" href="../static/css/style.css" rel="stylesheet">
    <link type="text/css" href="../static/css/attraction.css" rel="stylesheet">
</head>

<body onload="attractionData();">
    <div class="shadow"></div>
    <div class="login">
        <div class="login-div"></div>
        <p class="login-p">登入會員帳號
            <img src="../static/icon/icon_close.png" class="login-img" onclick="loginData('close');">
        </p>
        <input class="login-input" type="text" id="login-email" placeholder="  輸入電子郵件">
        <input class="login-input" type="text" id="login-password" placeholder="  輸入密碼">
        <button class="login-btn" id="login-btn" onclick="login();">登入帳戶</button>
        <div class="error" id="login-error"></div>
        <p class="login-p2">還沒有帳戶？<span onclick="loginData('register');">點此註冊</span></p>
    </div>
    <div class="register">
        <div class="login-div"></div>
        <p class="login-p">註冊會員帳號
            <img src="../static/icon/icon_close.png" class="login-img" onclick="loginData('close');">
        </p>
        <input class="login-input" type="text" id="register-name" placeholder="  輸入姓名">
        <input class="login-input" type="text" id="register-email" placeholder="  輸入電子郵件">
        <input class="login-input" type="text" id="register-password" placeholder="  輸入密碼">
        <button class="login-btn" id="register-btn" onclick="register();">註冊新帳戶</button>
        <div class="error" id="register-error"></div>
        <div class="error" id="register-success"></div>
        <p class="login-p2">已經有帳戶了？<span onclick="loginData('login');">點此登入</span></p>
    </div>
    <div class="nav-space"></div>
    <nav class="navbar">
        <div class="nav-text">
            <a href="/" style="text-decoration:none;">
                <div class="header">台北一日遊</div>
            </a>

            <div class="desktop-menu">
                <div>預定行程</div>
                <div onclick="loginData('login');" id="login-ready">登入/註冊</div>
                <div onclick="logout();" id="logout-ready">登出系統</div>
            </div>
        </div>
        </div>
    </nav>
    <main id="main">
        <div id="carousel">
            <div class="loader" hidden></div>
            <img class="spotImg">
            <button id="left-btn" onclick="changePic(-1);"><img src="../static/icon/btn_leftArrow.png"></button>
            <button id="right-btn" onclick="changePic(1);"><img src="../static/icon/btn_rightArrow.png"></button>
            <ul class="dots">
                <li class="dot"></li>
            </ul>
        </div>
        <div>
            <div class="spotTitle"></div>
            <div class="spotMrt"></div>
            <div class="tour">
                <p>訂購導覽行程</p>
                <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                <div>
                    <span>選擇日期： </span><input type="date" class="date">
                </div>
                <div>
                    <span>選擇時間：</span>
                    <label for="morning" onclick="changeTime(0);">
                        <span class="time-btn" id="morning-btn"></span>
                        <input type="radio" name="time" id="morning">上半天
                    </label>
                    <label for="evening" onclick="changeTime(1);">
                        <span class="time-btn" id="evening-btn"></span>
                        <input type="radio" name="time" id="evening">下半天
                    </label>
                </div>
                <div>
                    <span>導覽費用：</span><span class="money"> 新台幣 2000 元</span>
                </div>
                <button>開始預訂行程</button>
            </div>
        </div>
        <hr size="1px" width="1200px" color="#E8E8E8">
        <div>
            <div class="spotDesc"></div>
            <p>景點地址：</p>
            <div class="spotAdd"></div>
            <p>交通方式：</p>
            <div class="spotTrans"></div>
        </div>
    </main>
    <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
    <script type="text/javascript" src="../static/js/attraction.js"></script>
    <script type="text/javascript" src="../static/js/login.js"></script>

</body>

</html>